#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  border: 1px solid red;
  height: fit-content;
  position: relative;
}

.top {
  display: flex;
}

.XY-wrapper {
  display: flex;
  height: 10rem;
  border: 1px solid blue;
  flex: 4;
}

.lock-note-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid green;
}

.OSCs-wrapper {
  display: flex;
  width: 100%;
  height: 10rem;
}

.osc {
  position: relative;
  text-align: left;
  flex-basis: 50%;
  border: 1px solid lightblue;
}

.osc-title {
  position: absolute;
  top: 0;
  left: 0;
}

.osc button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  border-radius: 100rem;
  aspect-ratio: 1;
}

.env-and-effects-wrapper {
  border: 1px solid lightblue;
}
.env-and-effects-nav {
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  border-bottom: 1px solid blue;
}

.envelope-wrapper {
  display: flex;
  display: none;
  flex-direction: column;
  padding-inline: 2rem;
}

.envelope-wrapper > div {
  display: flex;
  gap: 1rem;
  text-decoration: overline;
}

.effects-nav-wrapper {
  display: flex;
  text-align: left;
  width: min-content;
  border-right: 1px solid lightblue;
  gap: 1rem;
  padding-inline: 1rem;
}

.effect {
  display: flex;
  gap: 1rem;
}